@import url('https://fonts.cdnfonts.com/css/godzilla');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sawarabi+Gothic&display=swap');
*{
    font-family: "Oswald", serif;
}
html{
  scroll-behavior: smooth;
}

/* ===============custom font size========== */
.text-custom-sm{
    font-size: 22px;
}

/* =============header slider========= */
@keyframes slide-right {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .slide-scroll-left {
    animation: slide-right 10s linear infinite;
  }

  .slide-scroll-left:hover {
    animation-play-state: paused;
  }

  /* =================traits=========== */
  .blur-custom {
    backdrop-filter: blur(35px) !important;
    position: relative;
    border-radius: 30px;
    background: linear-gradient(141.11deg, rgba(255, 255, 255, 0.25) -1.59%, rgba(255, 255, 255, 0.09) 102.57%);
    border: 1px solid #4B6778;
  }

  .blue-custom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: white;
    z-index: 1;
  }

  /* ===============faq============= */
  .blur-faq {
    backdrop-filter: blur(35px) !important;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(141.11deg, rgba(255, 255, 255, 0.25) -1.59%, rgba(255, 255, 255, 0.09) 102.57%);
    border: 1px solid #4B6778;
  }

  .blue-faq::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background: white;
    z-index: 1;
  }

  /* ===============team=========== */
  .slick-track{
    display: flex !important;
    gap: 24px !important;
  }
  .slick-dots{
    bottom: -50px !important;
  }

  .prev-parent:hover .prev{
    transform: rotateX(180deg);
  }
  .next-parent:hover .next{
    transform: rotateX(180deg);
  }

  .slick-dots li button:before{
    color: transparent !important;
    background-color: white;
    opacity: 30% !important;
    width: 20px !important;
    height: 10px !important;
    border-radius: 30px;
  }

  .slick-dots li.slick-active button:before{
    color: transparent !important;
    background-color: white;
    opacity: 100% !important;
    width: 20px !important;

  }